<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body class="p-0 mh-100 " data-spy="scroll">
    <div class="container pt-2 pb-5">
        <div class="row ">
            <div class="col-6">
                <a class="navbar-brand float-left border border-info text-dark text-center" href="/"
                    style="width: 120px;">
                    <span class="font-weight-bold">Admin</span>LTE</a>
            </div>
            <div class="col-6">
                <ul class="nav justify-content-end transparent ">

                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none text-dark font-weight-bold" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary" href="#">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary"
                            href="https://dashboardpack.com/">Premium
                            Templates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-decoration-none text-secondary" href="#">Subscribe</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- end nav-bar  -->
    <div class="container pt-5 d-flex">
        <h4 class="pr-3"> USERS </h4>
        <form class="pl-3" action="/logout" method="POST"> <button class="btn btn-warning float-right"> Log out
            </button></form>
    </div>
    <div class="container pt-5 pb-5 mb-5 ">
        <table class="table pt-2 pl-3 pr-3">
            <thead class="thead-dark">
                <tr>
                    <th scope='col'>User Name</th>
                    <th scope='col'>Full Name</th>
                    <th scope='col'>Email</th>
                    <th scope='col'>Creat at</th>
                    <th scope='col'>Update at</th>
                    <th scope='col'>View</th>
                    <th scope='col'>Edit</th>
                    <th scope='col'>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                <tr>
                    <td><%= user.fullname %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td class="text-primary"><%= moment(user.created_at).format('MMMM Do YYYY, h:mm:ss a') %></td>
                    <td class="text-primary"><%= moment(user.updated_at).format('MMMM Do YYYY, h:mm:ss a') %></td>
                    <td> <a href="/users/<%=user.id%>" class="btn btn-success"> view user
                        </a></td>
                    <td><button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#editModal<%= user.id %>">
                            Edit user
                        </button></td>
                    <td><button type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#deleteModal<%= user.id %>">
                            Delete user
                        </button></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <!--edit Modal -->
    <% users.forEach(user => { %>
    <form class="modal fade" id="editModal<%= user.id %>" role="form" method="POST" action="/edit/<%= user.id %>"
        enctype="application/x-www-form-urlencoded">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Full name</label>
                                <input type="text" class="form-control" name="fullname" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <input type="text" class="form-control" name="username">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        </div>
        <% }); %>
        <!--delete Modal -->
        <% users.forEach(user => { %>
        <form class="modal fade" id="deleteModal<%= user.id %>" role="form" method="POST"
            action="/delete/<%= user.id %>" enctype="application/x-www-form-urlencoded">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Are you sure to delete this user</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
        </form>
        </div>

        </div>
        </div>
        </div>
        <% }); %>



        <footer class="footer bg-dark text-white pb-0 fixed-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9 align-middle">
                        Copyright © 2014-2019 <b><a href="/" class="text-white text-decoration-none">AdminLTE</a></b>.
                        All rights reserved.
                        <b><a href="/privacy" class="text-white text-decoration-none">Privacy Policy</a></b>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a href="https://twitter.com/colorlib" class="btn btn-twitter btn-social" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Twitter Account"><i
                                class="fa fa-twitter text-white "></i></a>
                        <a href="https://www.facebook.com/colorlib" class="btn btn-facebook btn-social"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook Page"><i
                                class="fa fa-facebook text-white"></i></a>
                        <a href="https://github.com/ColorlibHQ" class="btn btn-github btn-social" data-toggle="tooltip"
                            data-placement="top" title="" data-original-title="Github Repositories"><i
                                class="fa fa-github text-white"></i></a>
                    </div>
                </div>
            </div>
        </footer>
</body>

</html>